

.container {
  width: 100%;
  margin: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

.container-login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right,#677ad9de, #490328cc, #3c2d88e1);
  
}

.wrap-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  height: 500px;
  padding: 40px;
  border: none;
  background: linear-gradient(to right, #49032875, #3c2d8846, #677ad985);

}

.wrap-login img{
  width: 130px;
  opacity: 0.5;
}


.login-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;

  
}

.wrap-input {
  width: 90%;
  position: relative;
  border-bottom: 2px solid #cccaca;
  margin-bottom: 37px;
  display: flex;
  align-items: center;
  flex-direction: row;  
}

.iconPassword, .iconEmail{
  color: white;
  margin-right: 20px;
}

.input {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #adadad;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
  background: -o-linear-gradient(to left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
  background: linear-gradient(to left, #21d4fd, #b721ff);
}

.focus-input::after {
  font-size: 15px;
  color: #999999;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.input:focus {
  outline: 0;
}

.input:focus + .focus-input:after {
  top: -15px;
}

.input:focus + .focus-input:before {
  width: 100%;
}

.has-val + .focus-input::after {
  top: -15px;
}

.container-login-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.login-form-btn {
  font-size: 15px;
  border: none;
  border-radius: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: linear-gradient(to right, #49032896, #3c2d88e1, #677ad9a9);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
}

.login-form-btn:hover {
  cursor: pointer;
}

.text-center {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px 0 ;
  
}

.txt1 {
  font-size: 14px;
  color: #adadad;
  line-height: 1.5;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.divChk{
  display: flex;
  align-items: center;
}

.chkRemember{
  background: black;
  margin-right: 5px;
}

.txt2 {
  font-size: 14px;
  line-height: 1.5;
  color: #adadad;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

.imgLogin{
  text-align: center;
}

/* mobile */

@media only screen and (max-device-width: 1280px) {
  .wrap-login {
    width: 390px;
    background-color: #35374b;
    border-radius: 0px;

    overflow: hidden;
    padding: 100px 55px 150px 55px;

    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  }
  img {
    width: 0%;
  }
}


@media(max-width: 600px){
  .container-login{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #eadfb4;
    padding-top: 100px;
  }

  .wrap-login {
    width: 300px;
    background-color: #35374b;
    border-radius: 10px;
    overflow: hidden;
  
  }

  .login-form{
    height: 100%;
  }

  .login-form-title {
    align-items: flex-start;
  }

}
